<section id="cart-page">
  <div class="shade"></div>
  <div class="cart-container">
    <div class="back-container">
      <p>&#60; Back to Menu</p>
    </div>
    <div class="description">
      <h1>Your Cart</h1>
      <!-- <p>Your cart looks a little empty. Why not check out some of our deals?!</p> -->
    </div>

    <div class="cart-content">
      <div class="cart-item-container">
        <div class="cart-item">
          <h5 class="cart-item-label">Pretty Potato</h5>
          <h5 class="cart-item-cost">$21.49</h5>
        </div>
        <div class="cart-item-buttons">
          <ion-icon name="close-circle"></ion-icon>
          <div class="adjust-quantity">
            <ion-icon name="remove-circle-outline"></ion-icon>
            <div class="item-quantity">1</div>
            <ion-icon name="add-circle-outline"></ion-icon>
          </div>
        </div>
      </div>

      <div class="price-breakdown">
        <div class="subtotal ">
          <h5 class="subtotal-label">Subtotal</h5>
          <h5 class="subtotal-cost">$21.49</h5>
        </div>
        <div class="tax">
          <h5 class="tax-label">Tax</h5>
          <h5 class="tax-cost">$3.35</h5>
        </div>
        <div class="total">
          <h4 class="total-label">Your Total</h4>
          <h4 class="total-cost">$24.84</h4>
        </div>
      </div>

      <div class="disclaimer">Additional charge may apply based on payment type.</div>
    </div>

    <div class="checkout-button-container">
      <div class="checkout-button">
        Checkout
        <div class="total-cost">$24.84</div>
      </div>
    </div>

  </div>
</section>