<section id="confirm-delete">
  <div class="shade"></div>


  <div class="confirmation">
    <p> Are you sure you want to delete this item from the menu?</p>
    <div class="confirmation-buttons">
      <button class="btn-confirm btn">Confirm</button>
      <button class="btn-cancel btn">Cancel</button>
    </div>

  </div>

</section>



