<section id="employee-header">
  <div class="employee-header-banner">
    <a href="/employee" class="company-name">
      <ion-icon class="company-logo" name="trending-up"></ion-icon>
      <h1>CouchPotato</h1>
    </a>
    <h1 class="employee-sign">Employee</h1>
  </div>
</section>