<section id="header">
  <div class="header-banner">
    <div class="company-name">
      <ion-icon class="company-logo" name="trending-up"></ion-icon>
      <h1>CouchPotato</h1>
    </div>
    <div class="cart">
      <p class="cart-items">5</p>
      <ion-icon class="cart-icon" name="cart"></ion-icon>
    </div>
  </div>
  <nav>
    <ul>
      <li>RAW</li>
      <li>BAKED</li>
      <li>FRIED</li>
      <li>BOILED</li>
      <li>MASHED</li>
    </ul>
  </nav>
</section>