<section id="header">
  <div class="header-banner">
    <div class="company-name">
      <ion-icon class="company-logo" name="trending-up"></ion-icon>
      <h1>CouchPotato</h1>
    </div>
    <div class="open-cart">
      <p class="cart-items">5</p>
      <ion-icon class="cart-icon" name="cart"></ion-icon>
    </div>
  </div>
  <nav>
    <ul class="menu-nav">
      <li id="raw-tab" class="menu-tab">RAW</li>
      <li id="raw-baked" class="menu-tab">BAKED</li>
      <li id="raw-fried" class="menu-tab">FRIED</li>
      <li id="raw-boiled" class="menu-tab">BOILED</li>
      <li id="raw-mashed" class="menu-tab">MASHED</li>
    </ul>
  </nav>
</section>