<section id="header">
  <div class="header-banner">
    <a href="/" class="company-name">
      <ion-icon class="company-logo" name="trending-up"></ion-icon>
      <h1>CouchPotato</h1>
    </a>
    <div class="open-cart">
      <p class="cart-items-total">0</p>
      <ion-icon class="cart-icon" name="cart"></ion-icon>
    </div>
  </div>
  <nav>
    <ul class="menu-nav">
      <li id="raw-tab" class="menu-tab">RAW</li>
      <li id="baked-tab" class="menu-tab">BAKED</li>
      <li id="fried-tab" class="menu-tab">FRIED</li>
      <li id="panfried-tab" class="menu-tab">PAN FRIED</li>
      <li id="dessert-tab" class="menu-tab">DESSERT</li>
    </ul>
  </nav>
</section>