<section id="header">
  <div class="header-banner">
    <a href="/" class="company-name">
      <ion-icon class="company-logo" name="trending-up"></ion-icon>
      <h1>CouchPotato</h1>
    </a>
    <div class="open-cart">
      <p class="cart-items-total">0</p>
      <ion-icon class="cart-icon" name="cart"></ion-icon>
    </div>
  </div>
</section>