<section id="header">
  <div class="header-banner">
    <a href="/" class="company-name">
      <ion-icon class="company-logo" name="trending-up"></ion-icon>
      <h1>CouchPotato</h1>
    </a>
    <div class="user-location">
      <p class="location-distance"></p>
      <div class="divider">|</div>
      <p class="location-drivingtime"></p>
    </div>
    <div class="open-cart open-cart-header">
      <p class="cart-items-total">0</p>
      <ion-icon class="cart-icon" name="cart"></ion-icon>
    </div>
  </div>
</section>