<!DOCTYPE html>
<html lang="en">
<%- include partials/_head %>
<%- include('partials/_header', {}) %>
<body>
  <section id="checkout-page">
    <div class="checkout-banner">
      <a href="/"><ion-icon name="arrow-undo-sharp"></ion-icon></a>
      <h2>CHECKOUT</h2>
    </div>

    <div class="error-message-checkout">
      Wrong something!
    </div>
    <div class="form-title">Don't be a stranger, gimme yo numba!</div>
    <form action="/orders/place_order" method="POST" class="checkout-form">
      <div class="firstname">
        <input type="text" id="firstname" name="firstname" placeholder=" " required>
        <label for="firstname">First Name</label>
      </div>
      <div class="lastname">
        <input type="text" id="lastname" name="lastname" placeholder=" " required>
        <label for="lastname">Last Name</label>
      </div>
      <div class="mobile">
        <input type="tel" id="mobile" name="mobile" placeholder=" " required>
        <label for="mobile">Mobile</label>
      </div>
    </form>

    <div class="extra-details-title">Any extra details we should know about?</div>
    <textarea id="extra-details" type="area"></textarea>

    <button class="place-order-button" type="button">
      Place your order
      <div class="total-cost">$24.84</div>
    </button>
    <p class="disclaimer">cash 10% off</p>
  </section>

  <%- include('partials/_cart', {}) %>
</body>
<%- include partials/_footer %>
</html>