<!DOCTYPE html>
<html lang="en">
<%- include partials/_head %>
<%- include('partials/_header', {}) %>
<body>
  <section id="checkout-page">
    <div class="checkout-banner">
      <a href="/"><ion-icon name="arrow-undo-sharp"></ion-icon></a>
      <h2>CHECKOUT</h2>
    </div>
  </section>

  <%- include('partials/_cart', {}) %>
</body>
<%- include partials/_footer %>
</html>