<!DOCTYPE html>
<html lang="en">
<%- include partials/_head %>
<%- include partials/_header %>
<body>
  <section id="confirmation-page">
    <div class="confirmation-page-container">
      <ion-icon name="checkmark-circle-outline"></ion-icon>
      <h2>We have received your order!</h2>
      <div class="google-map">
        
      </div>
    </div>
  </section>
</body>
<%- include partials/_footer %>
</html>
