<!DOCTYPE html>
<html lang="en">
<%- include partials/_head %>
<%- include('partials/_employeeHeader', {}) %>
<body>

  <section id="edit-menu-page">
    <div class="edit-menu-banner">
      <h2>EDIT MENU</h2>
    </div>

    <div class="error-message-edit-menu">
      Wrong something!
    </div>

  <div>

    <div>

      <div class="form-title">Please enter the details for the new product</div>


      <form method="POST" action="/api/menu/new" class="add-menu-item-form">
        <div class="item-name">
          <input type="text" id="item-name" name="name" placeholder=" " required>
          <label for="item-name">Title</label>
        </div>

        <div class="category">
          <input list="categories" id="item-category" name="category" placeholder=" " required>
          <label for="item-category">Category</label>
          <datalist id="categories">
            <option value="1">Raw</option>
            <option value="2">Baked</option>
            <option value="3">Fried</option>
            <option value="4">Pan Fried</option>
            <option value="5">Dessert</option>
          </datalist>
        </div>

        <div class="price">
          <input type="text" id="price" name="price" placeholder=" " required>
          <label for="price">Price</label>
        </div>

        <div class="form-row">
          <input type="text" id="photo_url" name="photo_url" placeholder=" ">
          <label for="photo_url">Photo URL</label>
        </div>

        <label class="description-label">Description:</label>
        <textarea class="description" id="description"></textarea>

        </textarea>

        <button class="submit-button"type="submit">Submit</button>
      </form>

    </div>


    <div class="search-delete">

      <div class="form-title">... Or delete an existing product </div>
      <form class="add-menu-item-form">
        <div class="search-item-name">
          <input type="text" id="search-item-name" name="name" placeholder=" " required>
          <label for="search-item-name">Search Menu Item</label>
        </div>
        <button id="search-delete" class="submit-button"type="button">Search products</button>

        <div class="item-to-delete-container">

        </div>
      </form>

    </div>

  </div>



  <% include partials/_confirm-deletion %>

  </section>
</body>
<%- include partials/_footer %>
</html>
