<!DOCTYPE html>
<html lang="en">
<%- include partials/_head %>
<%- include('partials/_header', {}) %>
<body>
  <section id="menu-page">
    <div class="menu-container">
      <div class="menu-item">
        <div class="menu-item-image"></div>
        <div class="menu-item-description">
          <h3>Pretty Potato</h3>
          <p>Won best looking potato of 2019.</p>
        </div>
        <div class="add-to-cart-container">
          <div id="Pretty-Potato-menu" class="add-to-cart itemId-4242">
            <p>Add</p>
            <p id="Pretty-Potato-price">$420.69</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%- include('partials/_cart', {}) %>
  
</body>
<%- include partials/_footer %>
</html>
