<!DOCTYPE html>
<html lang="en">
<%- include partials/_head %>
<%- include('partials/_header', {}) %>
<body>
  <nav>
    <ul class="menu-nav">
      <li class="tab menu-icon">MENU</ion-icon></i></li>
      <li id="raw-tab" class="menu-tab 1">RAW</li>
      <li id="baked-tab" class="menu-tab 2">BAKED</li>
      <li id="fried-tab" class="menu-tab 3">FRIED</li>
      <li id="panfried-tab" class="menu-tab 4">PAN FRIED</li>
      <li id="dessert-tab" class="menu-tab 5">DESSERT</li>
    </ul>
  </nav>
  <section id="menu-page">
    <div class="menu-container">
      <div class="main-page-container">

        <div class="find-order-details">
          <p>Find order</p>
          <input id="find-order-id" name='orderId' placeholder='Order #'>
          <button class="find-order-details-button">Find</button>
        </div>

        <div class="meme-container">
          <h1 class="rainbow-text">SAY IT WITH ME</h1>
          <img>
        </div>
      </div>
    </div>
    <div class="open-cart open-cart-menu">
      <p>VIEW CART</p>
    </div>
  </section>
  <%- include('partials/_cart', {}) %>

</body>
<%- include partials/_footer %>
</html>
