<!DOCTYPE html>
<html lang="en">
<%- include partials/_head %>
<%- include('partials/_header', {}) %>
<body>

  <section id="order-page">
    <h1>hi</h1>
  </section>

  <%- include('partials/_cart', {}) %>
</body>
<%- include partials/_footer %>
</html>
