#checkout-page {
  margin-top: 51px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .checkout-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    background-image: url('../images/concrete-texture.png');
    background-repeat: repeat;

    a {
      position: absolute;
      left: 25px;

      ion-icon {
        color: rgb(145, 145, 145);
        font-size: 35px;
      }
    }

    h2 {
      font-family: 'Teko';
      color: rgb(75, 75, 75);
      font-weight: 600;
      font-size: 35px;
    }
  }

  .error-message-checkout {
    width: 500px;
    border: 1px solid red;
    border-radius: 4px;
    color: red;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 16px;
    display: none;
  }

  .form-title {
    margin-top: 10px;
    color: rgb(70, 70, 70);
    width: 500px;
    text-align: center;
    font-size: 16px;
    position: relative;
    
    &::before {
      content: '';
      width: 105px;
      border-bottom: 1px solid rgb(160, 160, 160);
      position: absolute;
      left: 0;
      top: 50%;
    }

    &::after {
      content: '';
      width: 105;
      border-bottom: 1px solid rgb(160, 160, 160);
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

  .checkout-form {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

    & > *{
      width: 100%;
      border: 2px solid black;
      border-radius: 2px;
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;

      label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        cursor: text;
        transition: 0.4s ease all;
        user-select: none;
      }

      input {
        width: 100%;
        border: none;
        padding: 20px 10px 10px 10px;

        &::placeholder {
          user-select: none;
        }

        &:focus, &:not(:placeholder-shown) {
          outline: none;

          & + label {
            top: 10px;
            font-size: 12px;
          }
        }
      }
    }

    .firstname {
      width: 49%;
      margin-right: 2%;
    }

    .lastname {
      width: 49%;
    }
  }

  .extra-details-title {
    margin-top: 10px;
    color: rgb(70, 70, 70);
    width: 500px;
    text-align: center;
    font-size: 16px;
    position: relative;
    
    &::before {
      content: '';
      width: 95px;
      border-bottom: 1px solid rgb(160, 160, 160);
      position: absolute;
      left: 0;
      top: 50%;
    }

    &::after {
      content: '';
      width: 95px;
      border-bottom: 1px solid rgb(160, 160, 160);
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

  #extra-details {
    width: 500px;
    resize: none;
    overflow-y: auto;
    height: 80px;
    margin-top: 10px;
    border: 2px solid rgb(70, 70, 70);
    border-radius: 2px;
    padding: 5px;
  }

  .place-order-button {
    background-color: $colorGreen;
    transition: background-color 0.2s ease-in-out;
    border: none;
    color: white;
    width: 500px;
    height: 35px;
    border-radius: 4px;
    position: relative;
    outline: none;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
      background-color: $colorGreenHover;
    }

    &:active {
      outline: none;
    }

    .total-cost {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
    }
  }

  .disclaimer {
    width: 500px;
    font-size: 14px;
    color: rgb(146, 146, 146);
    margin-top: 5px;
    text-align: left;
  }
}