#checkout-page {
  margin-top: 51px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .checkout-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    background-image: url('../images/concrete-texture.png');
    background-repeat: repeat;

    a {
      position: absolute;
      left: 25px;
      
      ion-icon {
        color: rgb(145, 145, 145);
        font-size: 35px;
      }
    }

    h2 {
      font-family: 'Teko';
      color: rgb(75, 75, 75);
      font-weight: 600;
      font-size: 35px;
    }
  }
}