#edit-menu-page {
  margin-top: 51px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .edit-menu-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 100%;
    background-image: url('../images/concrete-texture.png');
    background-repeat: repeat;

    a {
      position: absolute;
      left: 25px;

      ion-icon {
        color: rgb(145, 145, 145);
        font-size: 35px;
      }
    }

    h2 {
      font-family: 'Teko';
      color: rgb(75, 75, 75);
      font-weight: 600;
      font-size: 35px;
    }
  }

  .error-message-edit-menu {
    width: 500px;
    border: 1px solid red;
    border-radius: 4px;
    color: red;
    padding: 5px 10px;
    margin-top: 20px;
    font-size: 16px;
    display: none;
  }

  .form-title {
    margin-top: 10px;
    color: rgb(70, 70, 70);
    width: 500px;
    text-align: center;
    font-size: 16px;
    position: relative;

    &::before {
      content: '';
      width: 80px;
      border-bottom: 1px solid rgb(160, 160, 160);
      position: absolute;
      left: 0;
      top: 50%;
    }

    &::after {
      content: '';
      width: 80px;
      border-bottom: 1px solid rgb(160, 160, 160);
      position: absolute;
      right: 0;
      top: 50%;
    }
  }

  .add-menu-item-form {
    width: 500px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

    .description-label {
      border: none;
      margin-bottom: 2px;
    }

    & > *{
      width: 100%;
      border: 2px solid black;
      border-radius: 2px;
      position: relative;
      overflow: hidden;
      margin-bottom: 20px;

      label {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        cursor: text;
        transition: 0.4s ease all;
        user-select: none;
      }

      input {
        width: 100%;
        border: none;
        padding: 20px 10px 10px 10px;

        &::placeholder {
          user-select: none;
        }

        &:focus, &:not(:placeholder-shown) {
          outline: none;

          & + label {
            top: 10px;
            font-size: 12px;
          }
        }
      }
    }

    .item-name {
      width: 49%;
      margin-right: 2%;
    }

    .category {
      width: 49%;
    }
  }

  .description {
    margin-top: 10px;
    border-radius: 4px;
    padding: 4px;
    color: rgb(70, 70, 70);
    width: 500px;
    height: 100px;
    text-align: center;
    font-size: 16px;
    position: relative;
    resize: none;
    text-align: left;
  }

  .submit-button {
    background-color: $colorGreen;
    transition: background-color 0.2s ease-in-out;
    border: none;
    color: white;
    width: 500px;
    height: 35px;
    border-radius: 4px;
    position: relative;
    outline: none;
    margin-top: 20px;

    &:hover {
      cursor: pointer;
      background-color: $colorGreenHover;
    }


  }
}


.item-to-delete-container {
  display: flex;
  flex-direction: column;

  .delete-item {
    display: flex;
    width: 100%;
    margin: 10px;
    justify-content: space-around;
    align-items: center;

    .delete-item-column-1 {
      width: 65%;
    }

    .delete-item-column-2 {
      width: 30%;
      margin-right: 20px;
      text-align: center;

    }
  }


  .delete-button {
    background-color: $colorGreen;
    transition: background-color 0.2s ease-in-out;
    color: white;
    border-radius: 4px;
    position: relative;
    outline: none;
    padding: 0px 30px;
    justify-self: flex-end;

    &:hover {
      cursor: pointer;
      background-color: $colorGreenHover;
    }
  }


}

