#employee-main-page {
  margin-top: 51px;
  width: 100%;
  height: calc(91vh);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);

  .incoming-orders {
    border: 2px solid $colorRed;
    width: 46%;
    height: 80%;
    margin-right: 40px;
    border-radius: 4px;
    padding: 20px;
    overflow-y: auto;

    .order-card {
      border: 1px solid $colorRed;
      border-radius: 4px;
      width: 200px;
      box-shadow: 2px 2px 10px rgb(211, 211, 211);
      margin: 2px;
      float: left;
      background-color: rgb(255, 255, 255);

      .order-information {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $colorRed;
        padding: 5px;
        background-color: $colorRed;
        color: white;

        .order-num {
          a {
            color: white;
          }
        }
        .order-time {

        }
      }

      .order-item {
        display: flex;
        padding: 10px;

        .item-quantity {
          min-width: 30px;
          text-align: left;
          font-weight: 400;
        }
        .item-name {
          font-weight: 400;
        }
      }
      
      .message {
        margin: 10px;
        font-size: 14px;
      }

      .add-pickup-time-buttons {
        margin-top: 5px;
        ul {
          display: flex;
          border-top: 1px solid $colorRed;

          .add-pickup-time {
            list-style: none;
            border-right: 1px solid $colorRed;
            padding: 5px 10px;
            flex-grow: 1;
            text-align: center;
            color: $colorRed;
            font-weight: 600;

            &:last-child {
              border-right: none;
            }

            &:hover {
              cursor: pointer;
              background-color: $colorRed;
              color: white;
            }
          }
        }
      }


    }
  }

  .processed-orders {
    border: 2px solid $colorGreen;
    width: 46%;
    height: 80%;
    border-radius: 4px;
    padding: 20px;
    overflow-y: auto;

    .order-card {
      border: 1px solid $colorGreen;
      border-radius: 4px;
      width: 200px;
      box-shadow: 2px 2px 10px rgb(211, 211, 211);
      margin: 2px;
      float: left;
      background-color: rgb(255, 255, 255);

      .order-information {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $colorGreen;
        padding: 5px;
        background-color: $colorGreen;
        color: white;

        .order-num {
          a {
            color: white;
          }
        }
        .order-time {

        }
      }

      .order-item {
        display: flex;
        padding: 10px;

        .item-quantity {
          min-width: 30px;
          text-align: left;
          font-weight: 400;
        }
        .item-name {
          font-weight: 400;

        }
      }
      
      .message {
        margin: 10px;
        font-size: 14px;
      }

      .pickup-time {
        padding: 5px 10px;
        text-align: center;
        color: white;
        background-color: $colorGreen;
        font-weight: 600;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          cursor: pointer;
          background-color: $colorGreenHover;
        }
      }
    }
  }
}