#header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgb(180, 180, 180);
  box-shadow: rgba(0, 0, 0, 1) 0 4px 5px -5px;
  background-color: white;
  z-index: 1;

  .header-banner {
    width: 1300px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    .company-name {
      color: black;
      display: flex;
      margin-left: 40px;
      user-select: none;
      text-decoration: none;

      &:hover {
        cursor: pointer;
      }

      .company-logo {
        font-size: 35px;
        color: white;
        padding-right: 5px;
      }
    }

    .open-cart {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 10px;
      background-color: $colorGreen;
      user-select: none;

      &:hover {
        cursor: pointer;
      }

      .cart-items-total {
        margin-right: 5px;
        line-height: 15px;
        vertical-align: middle;
      }

      .cart-icon {
        font-size: 20px;
      }
    }
  }
}