#menu-page {
  margin-top: 101px;
  min-height: 800px;
  width: 100%;
  background-image: url('../images/concrete-texture.png');
  background-repeat: repeat;
  display: flex;
  justify-content: center;

  .menu-container {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 10px 0;

    .menu-item {
      width: 250px;
      height: 375px;
      background-color: white;
      margin: 10px;
      box-shadow: 5px 5px 20px rgb(218, 218, 218);

      .menu-item-image {
        width: 100%;
        height: 155px;
        background-image: url("../images/potato1.jpg");
        background-size: cover;
        
      }
      
      .menu-item-description {
        padding: 12px 12px;
        height: 175px;

        h3 {
          margin-bottom: 10px;
          font-weight: 600;
        }

        p {
          font-size: 14px;
          color: rgb(129, 129, 129);
        }
      }

      .add-to-cart-container {
        height: 45px;
        width: 100%;
        display: flex;
        justify-content: center;
        user-select: none;

        .add-to-cart {
          width: 90%;
          height: 35px;
          background-color: $colorGreen;
          border-radius: 4px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 15px;
          font-weight: 600;
          color: white;
          font-size: 18px;
          transition: background-color 0.1s ease-in;

          &:hover {
            cursor: pointer;
            background-color: $colorGreenHover;
          }
        }
      }
    }
  }
}