nav {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  border-top: 1px solid rgb(250, 250, 250);
  position: fixed;
  top: 50px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 1) 0 4px 5px -5px;

  .menu-nav {
    display: flex;
    width: 80%;
    .menu-tab {
      width: 20%;
      height: 50px;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 1px;
      font-family: "Teko";
      font-weight: 400;
      font-size: 25px;
      user-select: none;

      &:hover {
        background-color: $colorRed;
        color: white;
        cursor: pointer;
      }
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .selected-nav-item {
      background-color: $colorRed;
      color: white;
    }

  }
}
